* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  overflow-x: hidden;
}

header {
  position: relative;
  z-index: 30;
  width: 100vw;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 40px;
}
header .logo {
  font-size: 50px;
  font-weight: 700;
  color: #EDECF4;
}
header nav {
  justify-self: end;
  font-size: 30px;
  font-weight: 700;
}
header nav a {
  text-decoration: none;
  color: #fbfbfb;
  padding: 0 20px;
}
header nav i {
  color: #BBB;
}
header .burger {
  display: none;
  cursor: pointer;
}
header .burger .line1, header .burger .line2, header .burger .line3 {
  transition: 0.4s;
}

.topside-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.topside-bg .bg-image {
  width: 100vw;
  height: 100%;
  background: url("https://github.com/ngiokweng/ngiokweng.github.io/blob/master/img/2.jpg?raw=true");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 1;
}
.topside-bg .bg-mask {
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.topside-bg .title {
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100%;
  color: #fbfbfb;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  padding-top: 400px;
}

.title1 {
  font-size: 40px;
  position: relative;
  margin-bottom: 20px;
}

.title1::after {
  content: "";
  display: block;
  position: absolute;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: brown;
  margin-top: 5px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content section {
  display: grid;
  justify-items: center;
  max-width: 1180px;
  padding: 0 80px;
}
.content .bg {
  background-color: #f5f5f5;
}
.content img {
  width: 100%;
}
.content .toTop {
  display: none;
  position: fixed;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  right: 30px;
  bottom: 30px;
  z-index: 100;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.7);
}
.content .toTop i {
  font-size: 46px;
  color: #FFF;
}
.content .about-me {
  width: 100vw;
}
.content .about-me .my-info {
  font-size: 28px;
}
.content .about-me .my-info li {
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.content .about-me .my-info li:last-child {
  margin-bottom: 70px;
}
.content .about-me .my-info i {
  margin-right: 15px;
  color: #de4307;
}
.content .show-project {
  padding-top: 40px;
  width: 100vw;
  max-width: unset;
}
.content .show-project .type-title {
  margin-bottom: 10px;
  font-size: 36px;
  color: #D11C16;
}
.content .show-project .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
  margin-bottom: 70px;
}
.content .show-project .project {
  width: 30vw;
  height: 20vw;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  transition: 0.4s;
}
.content .show-project .project:hover {
  transform: translateY(-5px) scale(1.05);
}
.content .show-project .project img {
  height: 15vw;
}
.content .show-project .project .name {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.content .show-project .project .name h2 {
  font-size: 40px;
  color: #000;
  margin-left: 15px;
}
.content .show-project .project .name a {
  display: block;
  text-align: center;
  width: 7vw;
  line-height: 2vw;
  font-size: 24px;
  background-color: #de4307;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 0;
  color: #FFF;
  border-radius: 4px;
  margin-right: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #2a2a2a;
}
footer h2 {
  color: #FFF;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}
footer .contact {
  display: flex;
  color: #FFF;
  justify-content: center;
}
footer .contact .email, footer .contact .github {
  display: flex;
}
footer .contact .email a, footer .contact .github a {
  font-weight: 600;
  color: rosybrown;
}
footer .contact .email i, footer .contact .github i {
  color: #D11C16;
}
footer .contact .email {
  margin-right: 50px;
}
footer .contact .github {
  margin-left: 50px;
}

@media (max-width: 1024px) {
  .topside-bg .title {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 36px;
  }

  .content .show-project .project .name {
    padding: 0 50px;
  }
  .content .show-project .project .name h2 {
    font-size: 20px;
    margin-left: 0;
  }
  .content .show-project .project .name a {
    font-size: 16px;
    line-height: 10px;
  }

  footer h2 {
    font-size: 38px;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  header {
    position: relative;
  }
  header nav {
    display: none;
  }
  header .burger {
    display: block;
    position: absolute;
    width: 50px;
    height: 25px;
    right: 50px;
  }
  header .burger div {
    width: 100%;
    height: 5px;
    background-color: #BBB;
  }
  header .burger .line2 {
    margin: 6px 0;
  }
  header .burger.open .line1 {
    transform: rotateZ(30deg) translateY(13px);
  }
  header .burger.open .line2 {
    opacity: 0;
  }
  header .burger.open .line3 {
    transform: rotateZ(-30deg) translateY(-13px);
  }

  .openMenu {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 200;
    align-items: stretch;
    background-color: #000;
  }
  .openMenu .logo {
    display: none;
  }
  .openMenu nav {
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-top: 10px;
  }
  .openMenu nav a {
    color: #fbfbfb;
  }
  .openMenu nav a:hover {
    background-color: #ee9e0b;
  }
  .openMenu nav i {
    display: none;
  }
  .openMenu .burger {
    margin-top: 20px;
    color: #fbfbfb;
  }

  .content .show-project .projects {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .content .show-project .projects .project {
    width: 80vw;
    height: 50vw;
  }
  .content .show-project .projects .project img {
    height: 35vw;
  }
  .content .show-project .projects .project .name {
    margin-top: 5vw;
  }
  .content .show-project .projects .project .name h2 {
    font-size: 34px;
    margin-left: 0;
  }
  .content .show-project .projects .project .name a {
    font-size: 24px;
    width: 120px;
    padding-top: 17px;
  }

  footer h2 {
    font-size: 24px;
  }
  footer .contact {
    flex-direction: column;
    align-items: center;
  }
  footer .contact .email {
    margin: 0;
  }
  footer .contact .github {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .topside-bg .title {
    padding: 200px 50px 0 50px;
  }

  .content .show-project {
    width: unset;
  }
  .content .show-project .projects .project .name h2 {
    font-size: 24px;
    margin-left: 0;
  }
  .content .show-project .projects .project .name a {
    font-size: 20px;
    width: 100px;
    padding-top: 13px;
    margin: 0;
  }

  footer h2 {
    font-size: 24px;
  }
  footer .github {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
